.habla{
    background-color:$gris;
    text-align: center;
    padding-bottom: 15px;
}
.pepito{
    text-align: center;
    margin: 15px;
    padding-top: 15px;
    font-size: 2rem;
}

.pum{
    text-align: center;
    margin: 15px;
    padding-top: 15px;
    font-size: 2rem;
}

.correo{
    text-align: center;
    margin: 15px;
    padding-top: 15px;
    font-size: 2rem;
}

.celular{
    text-align: center;
    margin: 15px;
    padding-top: 15px;
    font-size: 2rem;
}
.texto{
    margin: 15px;
    padding-top: 15px;
    font-size: 2rem;
    text-align: center;
}

.boton{
    text-align: center;}