.aca{
    height:190px;
}
.jor{
    height: 190px;
}
.presenta{
    
    text-align: center;
    padding: 15px;
    background-color:$gris;
    border: 1px solid black
}
.produ{
    text-align: center;
    background-color:$gris;
    padding-bottom: 15px;
}
.sub{
    text-align: center;
    font-family: 20px;
}
.solo{
    height: 285px;
    width: 285px;
}


