@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body{ background-color: white;
}
.redes-1{
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 3%;
    right: 80px;
}
.derecho{
    text-align: center;
}
