
.retoque{
    background-color: #1b1b1b;
    padding: 70px;
    margin-top: solid 2px white;
}
.social {
    color:$gris;
    font-size: 15px;
}

.redes-2 {
    height: 36px;
}

.redes-3 {
    height: 36px;
    padding-left: 50px;
}